a.hoverColor.navLink:hover {
  color: #25a0e2 !important;
}

button.hoverColor.btnLink:hover {
  color: #25a0e2 !important;
}

.customIconHeight {
  height: 18px;
}

.selected {
  color: #25a0e2 !important;
}

button.hoverColor.btnLink:hover {
  color: #25a0e2 !important;
}

.customIconHeight {
  height: 18px;
}
