body {
    color: #424242;
    background-color: #6da5bc !important;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}
.login-16 .login-16-inner {
    z-index: 999;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}

.login-16 .login-16-inner .ocean {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.login-16 .login-16-inner .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -138px;
    width: 6400px;
    height: 138px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.login-16 .login-16-inner .wave:nth-of-type(2) {
    top: -115px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.login-16 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Jost', sans-serif;
}

.login-16 .login-box {
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 1120px;
    z-index: 999;
}

.login-16 .login-box {
    background-image: linear-gradient(to bottom, #2e3f95, #7ec0c7);
}

.login-16 .form-section {
    text-align: center;
    padding: 80px 90px;
    border-right: solid 1px #e9dede2e;
}

.login-16 .pad-0{
    padding: 0;
}

.login-16 .form-section p{
    margin-bottom: 0;
    font-size: 16px;
    color: #efefef;
}

.login-16 .form-section p a{
    color: #efefef;
}

.login-16 .form-section ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.login-16 .form-section .social-list li {
    display: inline-block;
    margin-bottom: 5px;
}

.login-16 .form-section .thembo{
    margin-left: 4px;
}

.login-16 .logo img{
    height: 30px;
    margin-bottom: 25px;
}

.login-16 .form-section h3 {
    text-align: center;
    margin: 0 0 25px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

.login-16 .form-section .form-group {
    margin-bottom: 25px;
}

.login-16 .form-section .form-group .form-box {
    float: left;
    width: 100%;
    position: relative;
}

.login-16 .form-section .form-group  .form-box .form-control {
    padding: 15px 15px 15px 50px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
}

.login-16 .form-section .form-group .form-box i {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 20px;
    color: #777575;
}

.login-16 .form-section .checkbox .terms{
    margin-left: 3px;
}

.login-16 .form-section button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login-16 .form-section .terms{
    margin-left: 3px;
}

.login-16 .form-section a {
    text-decoration: none;
}

.login-16 .form-section .checkbox {
    font-size: 15px;
}

.login-16 .form-section .form-check{
    float: left;
    margin-bottom: 0;
}

.login-16 .form-section .form-check a {
    color: #efefef;
}

.login-16 .form-section .form-check-label {
    padding-left: 5px;
    margin-bottom: 0;
    font-size: 16px;
    color: #efefef;
}

.login-16 .form-section a.forgot-password {
    font-size: 16px;
    color: #efefef;
}

.login-16 .form-check-input:focus {
    border-color: transparent;
    box-shadow: none;
}

.login-16 .form-check-input:checked {
    background-color: #272a2a!important;
    border: 1px solid #272a2a!important;
}

.login-16 .form-section .form-check-input {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    border: 1px solid #fff;
    background-color: #fff;
    position: absolute;
    margin-left: -22px;
    border-radius: 0;
}

.login-16 .social-list a {
    width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    background: #fff;
    border-radius: 100px;
}

.login-16 .social-list a:hover{
    color: #fff;
}

.login-16 .btn-theme {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    color: #ffffff;
    text-transform: capitalize;
    transition: all 0.3s linear;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-radius: 3px;
    float: left;
}

.login-16 .btn-theme:hover {
    color: #fff;
}

.login-16 .btn-theme:hover:after {
    transform: perspective(200px) scaleX(1.05) rotateX(0deg) translateZ(0);
    transition: transform 0.4s linear, transform 0.4s linear;
}

.login-16 .btn-theme:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    border-radius: 7px;
    transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
    transform-origin: bottom center;
    transition: transform 0.4s linear, transform 0.4s linear;
    z-index: -1;
}

.login-16 .btn-theme{
    background: #272a2a;
}

.login-16 .btn-theme:after {
    background: #050606;
}

.login-16 .btn-lg{
    font-size: 17px;
    padding: 0 50px;
    line-height: 56px;
}

.login-16 .btn{
    box-shadow: none!important;
}

.login-16 .btn-md{
    padding: 0 50px;
    font-size: 15px;
    line-height: 45px;
}

.login-16 .info{
    position: relative;
    width: 350px;
    margin: 0 auto;
    height: 350px;
    text-align: center;
}

.login-16 .info .box h3{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
}

.login-16 .info .box p{
    color: #efefef;
    font-size: 15px;
}

.login-16 .info .box {
    position: absolute;
    width: 350px;
    margin: 0 auto;
    height: 350px;
    overflow: hidden;
    padding: 20px;
    border: solid 15px #ffffff0f;
}

.login-16 .info .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border: solid 1px rgb(255 255 255 / 20%);
    padding: 99px 10px;
}

.login-16 .info .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.login-16 .info .box span:nth-child(1) {
    transform:rotate(0deg);
}

.login-16 .info .box span:nth-child(2) {
    transform:rotate(90deg);
}

.login-16 .info .box span:nth-child(3) {
    transform:rotate(180deg);
}

.login-16 .info .box span:nth-child(4) {
    transform:rotate(270deg);
}

.login-16 .info .box span:before {
    content: '';
    position: absolute;
    width:100%;
    height: 3px;
    background: #fff;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50% {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform:scaleX(1);
        transform-origin: right;
    }

    100% {
        transform:scaleX(0);
        transform-origin: right;
    }
}

/** Social media **/
.login-16 .facebook-bg{
    color: #4867aa;
}

.login-16 .facebook-bg:hover {
    background: #4867aa;
}

.login-16 .twitter-bg {
    color: #33CCFF;
}

.login-16 .twitter-bg:hover {
    background: #33CCFF;
}

.login-16 .google-bg {
    color: #db4437;
}

.login-16 .google-bg:hover {
    background: #db4437;
}

.login-16 .linkedin-bg {
    color: #2392e0;
}

.login-16 .linkedin-bg:hover {
    background: #1c82ca;
}

@media (max-width: 1200px) {
    .login-16 .form-section {
        padding: 80px 50px;
    }
}

@media (max-width: 992px) {
    .login-16 .form-section {
        padding: 50px 30px;
        border-right: none;
    }

    .login-16 .bg-img{
        display: none;
    }

    .login-16 .login-box {
        max-width: 500px;
    }
}