.product_id div {
  color: rgb(20 127 237);
  /* color: rgb(231, 37, 56); */
}

.clickable {
  cursor: pointer;
}

:root {
  /* --bg-dark-mode: #464545;
  --bg-light-mode: #d2d2d2;
  --color-dark-mode: #fff;
  --color-light-mode: #222;
  --bg-header-dark-mode: #3d3a3a;
  --bg-header-light-mode: #676767;
  --bg-table-dark-mode: #3d3a3a;
  --icon-color-dark-mode : #85d060; */
}

.dark-mode-body {
  background-color: var(--bg-dark-mode) !important;
  color: var(--color-dark-mode) !important;
}

.light-mode-body {
  background-color: var(--bg-light-mode);
  color: var(--color-light-mode);
}

.dark_mode {
  transition: all 0.5s;
}

.dark_mode:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark_mode_style {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.light-mode-body .nav-item .nav-link,
.light-mode-body .nav-group .nav-link {
  color: #303c54 !important;
}

.dark-mode-body .breadcrumb-item ol li {
  /* color: white !important; */
}

.dark-mode-body .page-content-style {
  background-color: var(--bg-header-dark-mode) !important;
  box-shadow: 5px 10px #888888
}

.light-mode-body .page-content-style {
  background-color: var(--bg-header-light-mode) !important;
  box-shadow: 5px 10px #e9e5e5
}

.dark-mode-body .header .header-navbar .header-toggler {
  color: rgb(228 231 235 / 1);
}

.dark-mode-body .header .header-navbar .header-nav .nav-link {
  color: rgb(242 246 242);
}



.light-mode-body .breadcrumb-style {
  background: #f3f3f3;
}

.dark-mode-body .table-responsive {
  border-radius: 0.5rem;
}

.dark-mode-body .breadcrumb-style,
.dark-mode-body .breadcrumb {
  background: var(--bg-header-dark-mode) !important;
}

.dark-mode-body .card-header {
  background: var(--bg-header-dark-mode) !important;
  color: var(--color-dark-mode) !important;
}
.dark-mode-body .sidebar .sidebar-nav .nav-link {
  /* background: var(--bg-header-dark-mode) !important; */
  color: var(--color-dark-mode) !important;
}

.dark-mode-body .css-15jcfmy-MuiDataGrid-root .MuiDataGrid-cell--textLeft,
.dark-mode-body .css-z8fhq1-MuiDataGrid-columnHeaders,
.dark-mode-body .page-content-style{
  color: var(--color-dark-mode);
}
.dark-mode-body .svg-inline--fa{
  color: var(--icon-color-dark-mode);
}
.light-mode-body .breadcrumb-style,
.light-mode-body .breadcrumb {
  background: var(--bg-header-light-mode) !important;
}

.dark-mode-body .table tbody tr td,
.dark-mode-body .card-body,
.dark-mode-body .table thead tr th,
.dark-mode-body .table tbody tr th {
  background: var(--bg-header-light-mode) !important;
  color: var(--color-dark-mode);
}

.dark-mode-body .left-side {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.light-mode-body .left-side {
  background-color: #f6f7f9;
  /* color: white; */
}

.dark-mode-body .right-side,
.dark-mode-body .form {
  background-color: rgba(95, 91, 91, 0.7);
  color: white;
}

.dark-mode-body .breadcrumb-item {
  color: var(--color-dark-mode);
}

.dark-mode-body .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root,
.dark-mode-body .css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: var(--color-dark-mode) !important;
}

.dark-mode-body .carg {
  background-color: red;
}