.table__container {
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100vh);
  padding-inline: 1rem;
  .table-body {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    td {
      width: 3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
.qty-col {
  border: 1px solid #e0e0e0;
  border-radius: 0.7rem;
  padding: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  .cart-quantity-btn {
    width: 2rem;
    height: 1.2rem;
    border-radius: 1rem;

    border: 1px solid darkgray;
    background: lighten($color: #000000, $amount: 100);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: lighten($color: #000000, $amount: 50);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  span.qty {
    text-align: center;
    width: 1.5rem;
    display: inline-block;
  }
}

.delete-col {
  width: 1rem;
  .cart-delete-btn {
    width: fit-content;
    height: 1.2rem;
    border-radius: 1rem;
    padding: 0.1rem 0.8rem;

    border: 1px solid darkgray;
    background: lighten($color: #000000, $amount: 100);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: lighten($color: #000000, $amount: 50);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
