.rowHeadStyling {
  color: #878a99;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
}

.rowStyling {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #212529;
  margin-top: 0.25rem;
}

.idCell {
  color: #25a0e2;
  cursor: pointer;
  font-weight: 600;
  line-height: 21px;
}

.idCell:hover {
  color: #1e80b5;
}

.btnHover1:hover {
  background-color: #8ed6cf !important;
}

.btnHover2:hover {
  background-color: rgb(45, 65, 132) !important;
}

.btnHover3:hover {
  background-color: rgb(100, 232, 100) !important;
}

.btnHover4:hover {
  background-color: rgb(237, 102, 102) !important;
}
