
.punchcard-wrapper {
     background: #118181;
     color: #ffffff;
     text-align: center;
     box-sizing: border-box;
     width: fit-content;
     max-width: 720px;
     padding: 20px;
     margin: 2em auto;
     border-radius: 10px;

   }
   
   .punchcard-wrapper header {
     font-size: 1.4rem ;
   }
   
   .punchcard-wrapper footer {
     font-size: 1.2em ;
   }
   
   .punches {
     display: grid;
     width: 100%;
     max-width: 750px;
     grid-template-columns: repeat(6, 1fr);
     grid-column-gap: 10px;
     grid-row-gap: 20px;
     margin: 0 auto;
     padding: 10px;

   }
   
   .punch {
     height: 80px;
     width: 80px;
     border-radius: 50%;
     display: block;
   }
   
   .punches:last-child::after {
     content: "Free!";
     font-size: 600 0.8em;
     color: #0B5860;
     text-transform: uppercase;
     letter-spacing: 1px;
     display: block;
     box-sizing: border-box;
     padding: 5px;
     width: 100%;
     position: relative;
     top: 80px;
     background: #ECF5F5;
     border: 2px solid #0B5860;
   }
   #root > div.container.mx-auto >section>figure>div> span:nth-child(6) > span::after {
    content: "Free!";
    font-size: 600 0.8em;
    color: #0B5860;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    position: relative;
    top: 65px;
    background: #ECF5F5;
    border: 2px solid #0B5860;
  }
  #root > div.container.mx-auto > section > figure > div > span:nth-child(6) >.punch.punched{
    animation:beat 1s ease-in-out infinite;
  }
  @keyframes beat{
    from{
     transform:scale(1.1)
    }
    50%{
       transform:scale(1)
    }
    to{
      transform:scale(1.1)
    }
  }
   .punched {
     background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath fill='%23690000' d='M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z'/%3E%3C/svg%3E") no-repeat center center;
     background-size: 50%;
   }
   
   .not-punched {
     background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath fill='%23cccccc' d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'/%3E%3C/svg%3E") no-repeat center center;
     background-size: 50%;
   }
   
   #punchcard-summary {
     display: none;
   }
   
   @media screen and (max-width: 700px) {
     .punchcard header {
       font-size: 2em;
     }
     
     .punch {
       height: 50px;
       width: 50px;
     }
     
     .punch:last-child::after {
       top: 40px;
       font-size: 0.5em;
       width: 70px;
       left: -10px;
       padding: 3px;
     }
   }
   
   @media screen and (max-width: 400px) {
     .punchcard header {
       font-size: 2em;
     }
     
     .punch {
       height: 30px;
       width: 30px;
     }
     
     .punch:last-child::after {
       top: 20px;
       font-size: 0.5em;
       width: 50px;
       left: -10px;
       padding: 3px;
     }
   }