.quotationContainer{
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

.customTable thead {
    background: #045c54;
}
.customTable thead th {
    border: 0;
    color: #ffffff;
}
.customTable > tbody tr{
    border-bottom: 1px solid #e6e9f0;
}
.customTable > tbody tr:hover {
    background: #fafafa;
}
.customTable > tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.navdrop > a {
    color:#ffffff !important;
}

.navdrop > a:hover {
    color:#ffffff !important;
}

.navItem > a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #045c54;
}