.items__container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 120rem;
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .item {
    border: 0;
    width: 8rem;
    height: 11rem;
    padding: 0.2rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    }
    &:active {
      transform: scale(0.9);
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      &:hover {
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
      }
      transform: unset;
    }

    .icon {
      font-size: 2rem;
      padding: 0.2rem;
      color: rgb(238, 87, 0);
      background-color: rgba(238, 87, 0, 0.1);
      border-radius: 999px;
    }

    .remaining {
      font-size: 0.9rem;
      font-family: 300;
      color: rgb(128, 47, 0);
    }
  }
}
