.main-content {
  margin: 0 !important;
  min-height: 100vh;
  background: #eff9fa;

  .pos-flex {
    display: flex;
    min-width: 100%;
    min-height: 100vh;

    :global(.card) {
      margin: 10px 10px 15px 0px;
    }
  }
}
